.project
.metadata
.classpath
.settings/
**/Thumbs.db
target
*.iml
*.iws
*.ipr
.idea/
.DS_Store
.factorypath
.vscode
.venv
settings.xml

kafka.properties*
kafka.truststore.jks*
kafka.keystore.jks*
/.vs
/logs/
**/*local*
/data/
/.data/
**/logs/
/tempo-data/

.pnp.*
.yarn/*
node_modules/
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
